<div data-controller="tasks--index--search-card--component">
  <div class="flex flex-col bg-white border shadow-sm rounded-xl p-4">
    <h3 class="text-lg font-bold text-gray-800">
      検索
    </h3>
    <div class="pt-4">
      <%= form_with url: tasks_path, local: true do |f| %>
        <%= f.label "タイトル", for: "search[title]", class: "block text-gray-700 text-sm font-bold mb-1" %>
        <%= f.text_field "search[title]", class: "shadow appearance-none border-gray-200 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      <% end %>
    </div>
  </div>
</div>
