<div class="grid grid-cols-12 items-center">
  <div class="col-span-8">
    <%= render(::Layouts::Breadcrumb::Component.new([
      { name: 'タスク一覧', url: '', class_name: 'font-semibold' }
    ])) %>
  </div>
  <div class="col-span-4">
    <div class="flex items-end justify-end">
      <%= render(Tasks::Index::TaskCreateModal::Component.new) %>
    </div>
  </div>
</div>
<div class="grid grid-cols-12 gap-8 pt-4">
  <div class="col-span-12 md:col-span-3">
    <%= render(Tasks::Index::SearchCard::Component.new(search_params)) %>
  </div>
  <div class="col-span-12 md:col-span-9">
    <%= render(Tasks::Index::TaskListCard::Component.new(@tasks)) %>
  </div>
</div>
