<div data-controller="tasks--task-list-card--component">
  <div class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    <h3 class="text-lg font-bold text-gray-800 dark:text-white">
      タスク一覧
    </h3>
    <p class="mt-2 text-gray-800 dark:text-gray-400">
      Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
  </div>
</div>
