<div data-controller="tasks--index--search-card-component">
  <div class="flex flex-col bg-white border shadow-sm rounded-xl p-4">
    <h3 class="text-lg font-bold text-gray-800">
      検索
    </h3>
  </div>
</div>
